.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#main {
  background-color: white;
  font-family: 'Lato', sans-serif;
}

h1 {
  text-align: center;
  margin-top: 30px;
  font-size: 50px;
}

h2 {
  text-align: center;
}

.button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
}

#welcome-container {
  width: 50%;
  margin: auto;
  text-align: center;
}

.hero {
  margin: 40px;
  width: 400px;
}

#button-div {
  padding-top: 10px;
  width: 37%;
  margin: auto;
  display: flex;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

footer {
  position:fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 16px;
}

#container {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  padding-bottom: 64px;
}

.searchCars input {
  display: block;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.searchCars {
  width: 100vw;
  position: relative;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-bottom: 20px;
}

nav {
  background-color: #333;
  overflow: hidden;
}

#profile, #guest {
  float: right;
}

/* Style the links inside the navigation bar */

nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */

nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */

nav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Add padding to containers */

.container {
  background-color: white;
  padding: 16px;
  text-align: center;
  width: 500px;
  margin: auto;
}

/* Full-width input fields */

input[type="text"], input[type="number"], input[type="password"] {
  padding: 15px;
  margin: 5px 0 22px 0;
  width: 100%;
  border: none;
  background: #f1f1f1;
  box-sizing: border-box;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */

.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */

a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */

.signin {
  padding: 16px;
  background-color: #f1f1f1;
  text-align: center;
}

.listing-props {
  margin-top: 16px;
  list-style: none;
}

.listing-props>li {
  font-size: 20px;
}
.listing-props>li>span {
  font-weight: 600;
  display: inline-block;
  width: 80px;
}

.listings-buttons {
  text-align: center;
  margin: auto;
  margin-top: 34px;
}

.button-list {
  cursor: pointer;
  background-color: #4caf50;
  border: none;
  color: white;
  margin: auto;
  padding: 11px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.details-info {
  max-width: 700px;
  margin: auto;
}

.details-info>img {
  display: block;
  margin: auto;
  margin-bottom: 16px;
  max-height: 455px;
}

.description-para {
  margin-top: 16px;
  font-size: 16px;
}

.listings {
  margin: auto;
  text-align: center;
}

.listing {
  box-sizing: border-box;
  text-align: left;
  display: inline-block;
  padding: 30px 50px;
  width: 350px;
  margin: 15px;
  margin-bottom: 50px;
  border-radius: 8px;
  border: 2px solid black;
}

.listing h2 {
  height: 2.5em;
}

.preview {
  height: 150px;
  width: 250px;
  text-align: center;
}

.preview>img {
  object-fit: contain;
  height: 150px;
  width: 250px;
}

.no-cars {
  margin: auto;
  font-size: 30px;
  text-align: center;
}

.data-info {
  margin-top: 8px;
}

h3 {
  font-size: 20px;
}

.button-carDetails {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px;
  width: 100px;
  margin: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}